In [3]:
# Importar bibliotecas en esta celda
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [4]:
# La siguiente línea es para ver las imagenes dentro del notebook
%matplotlib inline
# Acá configuramos el tamaño de las figuras
plt.rcParams['figure.figsize'] = (12,8)
# Seteamos opciones de pandas sobre las columnas y su ancho
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

In [5]:
df = pd.read_csv('./estimaciones.csv', parse_dates=True,delimiter=';', encoding='iso-8859-1')
df.head()

,provincia_id,nom_provincia,departamento_id,nom_depto,cultivo_id,nom_cultivo,campaña_id,campaña,sup_sembrada (hectareas),sup_cosechada(hectarea),produccion (toneladas),rendimiento (kg /ha)
0,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/1970,3.0,3.0,10,3.333
1,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/1970,15.0,15.0,82,5.467
2,6,BUENOS AIRES,21,ALBERTI,1,Ajo,1,1969/1970,5.0,5.0,7,1.400
3,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,1,1969/1970,2.0,2.0,8,4.000
4,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,1,1969/1970,6.0,6.0,15,2.500

In [11]:
df_maiz = df.loc[(df.nom_cultivo == 'Maiz') & (df.nom_provincia == 'BUENOS AIRES')]

In [12]:
df_maiz.nom_depto.unique()

array(['25 DE MAYO', '9 DE JULIO', 'ADOLFO ALSINA',
       'ADOLFO GONZALES CHAVES', 'ALBERTI', 'ALMIRANTE BROWN',
       'ARRECIFES', 'AYACUCHO', 'AZUL', 'BAHIA BLANCA', 'BALCARCE',
       'BARADERO', 'BENITO JUAREZ', 'BERAZATEGUI', 'BOLIVAR', 'BRAGADO',
       'BRANDSEN', 'CAMPANA', 'CANUELAS', 'CAPITAN SARMIENTO',
       'CARLOS CASARES', 'CARLOS TEJEDOR', 'CARMEN DE ARECO', 'CASTELLI',
       'CHACABUCO', 'CHASCOMUS', 'CHIVILCOY', 'COLON',
       'CORONEL DE MARINA L ROSALES', 'CORONEL DORREGO',
       'CORONEL PRINGLES', 'CORONEL SUAREZ', 'DAIREAUX', 'DOLORES',
       'ESCOBAR', 'ESTEBAN ECHEVERRIA', 'EXALTACION DE LA CRUZ',
       'FLORENCIO VARELA', 'GENERAL ALVARADO', 'GENERAL ALVEAR',
       'GENERAL ARENALES', 'GENERAL BELGRANO', 'GENERAL GUIDO',
       'GENERAL JUAN MADARIAGA', 'GENERAL LA MADRID', 'GENERAL LAS HERAS',
       'GENERAL LAVALLE', 'GENERAL PAZ', 'GENERAL PINTO',
       'GENERAL PUEYRREDON', 'GENERAL RODRIGUEZ', 'GENERAL VIAMONTE',
       'GENERAL VILLEGAS', 'GUAMINI', 'HIPOLITO YRIGOYEN', 'JUNIN',
       'LA MATANZA', 'LA PLATA', 'LAPRIDA', 'LAS FLORES',
       'LEANDRO N. ALEM', 'LINCOLN', 'LOBERIA', 'LOBOS', 'LUJAN',
       'MAGDALENA', 'MAIPU', 'MAR CHIQUITA', 'MARCOS PAZ', 'MERCEDES',
       'MONTE', 'NAVARRO', 'NECOCHEA', 'OLAVARRIA', 'PATAGONES',
       'PEHUAJO', 'PELLEGRINI', 'PERGAMINO', 'PILA', 'PILAR', 'PUAN',
       'RAMALLO', 'RAUCH', 'RIVADAVIA', 'ROJAS', 'ROQUE PEREZ',
       'SAAVEDRA', 'SALADILLO', 'SALLIQUELO', 'SALTO',
       'SAN ANDRES DE GILES', 'SAN ANTONIO DE ARECO', 'SAN CAYETANO',
       'SAN NICOLAS', 'SAN PEDRO', 'SAN VICENTE', 'SUIPACHA', 'TANDIL',
       'TAPALQUE', 'TORDILLO', 'TORNQUIST', 'TRENQUE LAUQUEN',
       'TRES ARROYOS', 'VILLARINO', 'ZARATE', 'FLORENTINO AMEGHINO',
       'TRES LOMAS', 'PUNTA INDIO'], dtype=object)